version: '3.9'

services:
  ghost:
    image: ghost:5-alpine
    container_name: raidan-module-ghost
    restart: always
    environment:
      - url=http://ghost.raidan.pro
      - database__client=mysql
      - database__connection__host=ghost-db
      - database__connection__user=ghost
      - database__connection__password=${DB_PASSWORD}
      - database__connection__database=ghost_prod
    networks:
      - raidan_public
      - raidan_private
    depends_on:
      - ghost-db

  ghost-db:
    image: mysql:8.0
    container_name: raidan-module-ghost-db
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_PASSWORD}
      - MYSQL_USER=ghost
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - MYSQL_DATABASE=ghost_prod
    networks:
      - raidan_private

networks:
  raidan_public:
    external: true
  raidan_private:
    external: true